$focusPhase: #db3737;
$shortBreakPhase: #2ee6d6;
$longBreakPhase: #bfccd6;
$breakPhase: #8a9ba8;

// Background colors
.bg-black {
  background-color: #10161a;
}

.bg-white {
  background-color: #fff !important;
}

.bg-dark-gray-3 {
  background-color: #293742;
}

.bg-dark-gray-5 {
  background-color: #394b59;
}

.bg-gray-4 {
  background-color: #bfccd6;
}

.bg-light-gray-2 {
  background-color: #d8e1e8;
}

.bg-light-gray-3 {
  background-color: #e1e8ed;
}

.bg-yellow {
  background-color: #ffc940 !important;
}

.bg-focus-phase {
  background-color: $focusPhase !important;
}

.bg-short-break-phase {
  background-color: $shortBreakPhase !important;
}

.bg-long-break-phase {
  background-color: $longBreakPhase !important;
}

.bg-break-phase {
  background-color: $breakPhase !important;
}

.text-black {
  color: #10161a !important;
}

.text-white {
  color: #fff !important;
}
