.overflow-hidden {
  overflow: hidden;
}

.px-6 {
  padding: 0 6rem !important;
}

.hidden {
  display: none !important;
}

.border-none {
  border: none;
}

.circle-border {
  border: 3px solid;
  border-radius: 50%;
  padding: 5px;
}
