.em-0-9 {
  font-size: 0.9em;
}

.text-black {
  color: #10161a !important;
}

.text-gold {
  color: #ffc940 !important;
}

.text-red {
  color: #db3737 !important;
}

.text-white {
  color: #fff !important;
}
