body {
  position: relative;
  height: 100vh;
  overflow-y: hidden;
}

h3 {
  font-size: 1.25em;
}

main.pt-dark {
  background-color: $darkGray3;
}

.pt-dark {
  .charts {
    background-color: $darkGray3;
  }

  .settings {
    background-color: $darkGray3;

    h3 {
      color: $gold;
    }

    .pt-slider-track {
      background: $gold !important;
    }
  }
}

.draggable {
  -webkit-app-region: drag;
}

.non-draggable {
  -webkit-app-region: no-drag;
}

.no-select {
  -webkit-user-select: none;
}

.remove-focus:focus {
  outline: none !important;
}

.cursor-default {
  cursor: default;
}
