// Blueprint

.pt-slider {
  width: 90%;
}

.pt-tab-panel {
  overflow: hidden;
}

// We do not want to show the hour so this is some hacky way to
// not display the hour
.pt-timepicker-hour {
  display: none;
}

.pt-timepicker-divider-text:first-of-type {
  display: none;
}

.pt-timepicker-arrow-button.pt-timepicker-minute.pt-icon-standard {
  margin-left: 0;
}

// No effects for buttons
.btn-no-hover.pt-button:hover {
  background: none !important;
}

.btn-no-bg.pt-button {
  background: none !important;
}

.btn-black.pt-button::before {
  color: $black !important;
}

.btn-white.pt-button::before {
  color: $white !important;
}

.pt-button:focus {
  outline: none !important;
}

// Slick Slider
.slick-list {
  height: 100%;
}