.fixed-top-right {
  position: fixed;
  top: 0;
  right: 0;
}

.fixed-top-left {
  position: fixed;
  top: 0;
  left: 0;
}

.position-absolute {
  position: absolute;
}

.absolute-top-right {
  top: 0;
  right: 0;
}

.absolute-top-left {
  top: 0;
  left: 0;
}

.absolute-right {
  right: 0;
}

.absolute-right-offset-10 {
  right: 10px;
}

.absolute-left {
  left: 0;
}

.absolute-left-offset-10 {
  left: 10px;
}

.bring-to-front {
  z-index: 999;
}

.position-relative {
  position: relative;
}
