.settings {
  .pt-tab-list {
    width: 125px;

    &:focus,
    .pt-tab:focus {
      outline: none;
    }
  }

  .library-panel {
    .lib-row {
      &:hover {
        cursor: pointer;
      }

      &.highlight {
        background-color: #48AFF0;
      }
    }
  }
}
