.count-down {
  .zf-timer {
    font-size: 6em;
  }

  .pt-spinner:not(.pt-svg-spinner) {
    width: 400px;
  }

  .pt-button {
    &.pt-icon-play::before,
    &.pt-icon-pause::before {
      font-size: 32px;
    }
  }

  .intent-focus .pt-spinner-head {
    stroke: $focusPhase;
  }

  .intent-short-break .pt-spinner-head {
    stroke: $shortBreakPhase;
  }

  .intent-long-break .pt-spinner-head {
    stroke: $longBreakPhase;
  }
}
