.count-down {
  .zf-timer {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    font-size: 10em;
  }

  .pt-spinner:not(.pt-svg-spinner) {
    width: 500px;
  }
}
