// Downloaded modules
@import "~normalize.css/normalize.css";
@import "~@blueprintjs/core/dist/blueprint.css";
@import "~bootstrap/dist/css/bootstrap.min.css";
@import "~slick-carousel/slick/slick.css";
@import "~slick-carousel/slick/slick-theme.css";

// Custom modules
@import "./styles/variables";
@import "./styles/utils";
@import "./styles/global";
@import "./styles/overrides";
@import "./styles/colors";
@import "./styles/typography";

// Components
@import "./components/common/CountdownTimer/countdown-timer";
@import "./components/Charts/charts";
@import "./components/Library/library";
@import "./components/Settings/settings";
@import "./components/MiniView/mini-view";
@import "./components/common/TitleBar/title-bar";
@import "./components/common/Rounds/rounds";
@import "./components/common/Menu/menu";
@import "./components/common/MenuBar/menu-bar";
@import "./components/common/WelcomeSlides/welcome-slides";
